In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('flight_data.csv')

In [27]:
df

,ID,Quantity,Base,Origin,Destination,Flight,ShortFlightDate,FlightDateTime,OriginCountryCode,DestinationCountryCode,...,IsOutbound,Boarded Y,Capacity Physical Y,Capacity Saleable Y,Month,Year,Day,WeekNum,dayofweek,day_of_week
0,2022-04-01-1535,6.0,BRU,BRU,AGP,ZG1535,2022-04-01,11:18,BE,ES,...,True,124.0,129.0,129.0,4,2022,1,13,4,Friday
1,2022-04-01-1536,2.0,BRU,AGP,BRU,ZG1536,2022-04-01,15:59,ES,BE,...,False,26.0,135.0,135.0,4,2022,1,13,4,Friday
2,2022-04-01-2048,2.0,BRU,BHX,BRU,ZG2048,2022-04-01,18:13,GB,BE,...,False,71.0,129.0,129.0,4,2022,1,13,4,Friday
3,2022-04-01-2063,1.0,BRU,BRU,EDI,ZG2063,2022-04-01,14:37,BE,GB,...,True,115.0,129.0,129.0,4,2022,1,13,4,Friday
4,2022-04-01-2064,2.0,BRU,EDI,BRU,ZG2064,2022-04-01,16:23,GB,BE,...,False,78.0,135.0,135.0,4,2022,1,13,4,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97311,2019-07-31-3820,4.0,BRU,LIS,BRU,ZG3820,2019-07-31,20:13,PT,BE,...,False,155.0,168.0,168.0,7,2019,31,31,2,Wednesday
97312,2019-07-31-3881,4.0,BRU,BRU,NBE,ZG3881,2019-07-31,15:01,BE,TN,...,True,180.0,180.0,180.0,7,2019,31,31,2,Wednesday
97313,2019-07-31-3882,23.0,BRU,NBE,BRU,ZG3882,2019-07-31,19:44,TN,BE,...,False,176.0,174.0,174.0,7,2019,31,31,2,Wednesday
97314,2019-07-31-3885,15.0,BRU,BRU,DJE,ZG3885,2019-07-31,18:46,BE,TN,...,True,177.0,180.0,180.0,7,2019,31,31,2,Wednesday
97315,2019-07-31-3886,11.0,BRU,DJE,BRU,ZG3886,2019-07-31,22:21,TN,BE,...,False,180.0,180.0,180.0,7,2019,31,31,2,Wednesday

In [18]:
#df = df.iloc[:1000]

In [19]:
df.loc[df['Boarded Y'] == 0].head()

,ID,Quantity,Base,Origin,Destination,Flight,ShortFlightDate,FlightDateTime,OriginCountryCode,DestinationCountryCode,...,IsOutbound,Boarded Y,Capacity Physical Y,Capacity Saleable Y,Month,Year,Day,WeekNum,dayofweek,day_of_week
1580,2022-04-20-3170,13.0,BRU,NAP,BRU,ZG3170,2022-04-20,12:58,IT,BE,...,False,0.0,168.0,168.0,4,2022,20,16,2,Wednesday
1704,2022-04-22-2174,2.0,BRU,MAN,BRU,ZG2174,2022-04-22,11:59,GB,BE,...,False,0.0,162.0,162.0,4,2022,22,16,4,Friday
3235,2022-05-10-3738,4.0,BRU,AGP,BRU,ZG3738,2022-05-10,20:20,ES,BE,...,False,0.0,174.0,174.0,5,2022,10,19,1,Tuesday
3559,2022-05-14-3358,4.0,BRU,ZAD,BRU,ZG3358,2022-05-14,16:56,HR,BE,...,False,0.0,141.0,141.0,5,2022,14,19,5,Saturday
5101,2022-05-31-2183,2.0,BRU,BRU,MAN,ZG2183,2022-05-31,20:53,BE,GB,...,True,0.0,162.0,162.0,5,2022,31,22,1,Tuesday

In [20]:
df.shape

(97316, 24)

In [21]:
df.groupby('day_of_week')['Quantity'].mean()

day_of_week
Friday       3.031556
Monday       2.952671
Saturday     4.069283
Sunday       3.373255
Thursday     3.119636
Tuesday      3.216975
Wednesday    3.005428
Name: Quantity, dtype: float64

In [22]:
df.groupby('Origin')['Quantity'].mean()

Origin
ACC    2.000000
ACE    7.357341
ADB    1.000000
AGA    7.275510
AGP    4.421938
         ...
XRY    5.550000
ZAD    3.780000
ZAG    1.852273
ZRH    1.277778
ZTH    4.246377
Name: Quantity, Length: 125, dtype: float64

In [23]:
df.columns

Index(['ID', 'Quantity', 'Base', 'Origin', 'Destination', 'Flight',
       'ShortFlightDate', 'FlightDateTime', 'OriginCountryCode',
       'DestinationCountryCode', 'CategoricalDepartureTime', 'HolidayInOrigin',
       'HolidayInDestination', 'FlightDurationInHours', 'IsOutbound',
       'Boarded Y', 'Capacity Physical Y', 'Capacity Saleable Y', 'Month',
       'Year', 'Day', 'WeekNum', 'dayofweek', 'day_of_week'],
      dtype='object')

In [24]:
#df = df[['Quantity', 'Origin', 'Destination', 'FlightDateTime', 'IsOutbound', 'Boarded Y', 'Year', 'Month', 'Day', 'dayofweek']]
df.loc[df['Destination'] == 'BRU', 'Destination'] = df.loc[df['Destination'] == 'BRU', 'Origin']
df.drop(columns=['Origin'], inplace=True)

In [10]:
df

,Quantity,Destination,FlightDateTime,IsOutbound,Boarded Y,Year,Month,Day,dayofweek
0,6.0,AGP,11:18,True,124.0,2022,4,1,4
1,2.0,AGP,15:59,False,26.0,2022,4,1,4
2,2.0,BHX,18:13,False,71.0,2022,4,1,4
3,1.0,EDI,14:37,True,115.0,2022,4,1,4
4,2.0,EDI,16:23,False,78.0,2022,4,1,4
...,...,...,...,...,...,...,...,...,...
97311,4.0,LIS,20:13,False,155.0,2019,7,31,2
97312,4.0,NBE,15:01,True,180.0,2019,7,31,2
97313,23.0,NBE,19:44,False,176.0,2019,7,31,2
97314,15.0,DJE,18:46,True,177.0,2019,7,31,2
97315,11.0,DJE,22:21,False,180.0,2019,7,31,2

In [15]:
df.groupby('IsOutbound')['Quantity'].mean()

IsOutbound
False    3.318767
True     3.161388
Name: Quantity, dtype: float64