In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('flight_data.csv')

In [3]:
df = df.dropna()

In [4]:
df.loc[df['Boarded Y'] == 0].head()

,ID,Quantity,Base,Origin,Destination,Flight,ShortFlightDate,FlightDateTime,OriginCountryCode,DestinationCountryCode,...,IsOutbound,Boarded Y,Capacity Physical Y,Capacity Saleable Y,Month,Year,Day,WeekNum,dayofweek,day_of_week
1580,2022-04-20-3170,13.0,BRU,NAP,BRU,ZG3170,2022-04-20,12:58,IT,BE,...,False,0.0,168.0,168.0,4,2022,20,16,2,Wednesday
1704,2022-04-22-2174,2.0,BRU,MAN,BRU,ZG2174,2022-04-22,11:59,GB,BE,...,False,0.0,162.0,162.0,4,2022,22,16,4,Friday
3235,2022-05-10-3738,4.0,BRU,AGP,BRU,ZG3738,2022-05-10,20:20,ES,BE,...,False,0.0,174.0,174.0,5,2022,10,19,1,Tuesday
3559,2022-05-14-3358,4.0,BRU,ZAD,BRU,ZG3358,2022-05-14,16:56,HR,BE,...,False,0.0,141.0,141.0,5,2022,14,19,5,Saturday
5101,2022-05-31-2183,2.0,BRU,BRU,MAN,ZG2183,2022-05-31,20:53,BE,GB,...,True,0.0,162.0,162.0,5,2022,31,22,1,Tuesday

In [5]:
df.shape

(97261, 24)

In [6]:
df.groupby('day_of_week')['Quantity'].mean()

day_of_week
Friday       3.031628
Monday       2.952657
Saturday     4.068338
Sunday       3.361681
Thursday     3.108823
Tuesday      3.217117
Wednesday    3.005502
Name: Quantity, dtype: float64

In [7]:
df.groupby('Origin')['Quantity'].mean()

Origin
ACE    7.357341
ADB    1.000000
AGA    7.275510
AGP    4.421938
AJA    2.684211
         ...
XRY    5.550000
ZAD    3.780000
ZAG    1.852273
ZRH    1.277778
ZTH    4.246377
Name: Quantity, Length: 120, dtype: float64

In [8]:
df.columns

Index(['ID', 'Quantity', 'Base', 'Origin', 'Destination', 'Flight',
       'ShortFlightDate', 'FlightDateTime', 'OriginCountryCode',
       'DestinationCountryCode', 'CategoricalDepartureTime', 'HolidayInOrigin',
       'HolidayInDestination', 'FlightDurationInHours', 'IsOutbound',
       'Boarded Y', 'Capacity Physical Y', 'Capacity Saleable Y', 'Month',
       'Year', 'Day', 'WeekNum', 'dayofweek', 'day_of_week'],
      dtype='object')

In [9]:
df = df[['Quantity', 'Origin', 'Destination', 'FlightDateTime', 'CategoricalDepartureTime', 'HolidayInOrigin', 'HolidayInDestination', 'FlightDurationInHours', 'IsOutbound', 'Boarded Y', 'Month', 'Year', 'Day', 'WeekNum', 'dayofweek']]
df.loc[df['Destination'] == 'BRU', 'Destination'] = df.loc[df['Destination'] == 'BRU', 'Origin']
df.drop(columns=['Origin'], inplace=True)

In [10]:
df

,Quantity,Destination,FlightDateTime,CategoricalDepartureTime,HolidayInOrigin,HolidayInDestination,FlightDurationInHours,IsOutbound,Boarded Y,Month,Year,Day,WeekNum,dayofweek
0,6.0,AGP,11:18,2,False,False,2.169354,True,124.0,4,2022,1,13,4
1,2.0,AGP,15:59,2,False,False,2.169354,False,26.0,4,2022,1,13,4
2,2.0,BHX,18:13,3,False,False,0.578647,False,71.0,4,2022,1,13,4
3,1.0,EDI,14:37,2,False,False,0.955857,True,115.0,4,2022,1,13,4
4,2.0,EDI,16:23,3,False,False,0.955857,False,78.0,4,2022,1,13,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97311,4.0,LIS,20:13,3,False,False,2.146839,False,155.0,7,2019,31,31,2
97312,4.0,NBE,15:01,2,False,False,2.144579,True,180.0,7,2019,31,31,2
97313,23.0,NBE,19:44,3,False,False,2.144579,False,176.0,7,2019,31,31,2
97314,15.0,DJE,18:46,3,False,False,2.450867,True,177.0,7,2019,31,31,2
97315,11.0,DJE,22:21,4,False,False,2.450867,False,180.0,7,2019,31,31,2

In [11]:
df.dtypes

Quantity                    float64
Destination                  object
FlightDateTime               object
CategoricalDepartureTime      int64
HolidayInOrigin              object
HolidayInDestination         object
FlightDurationInHours       float64
IsOutbound                     bool
Boarded Y                   float64
Month                         int64
Year                          int64
Day                           int64
WeekNum                       int64
dayofweek                     int64
dtype: object

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [55]:
df_cleaned.shape

(97261, 14)

In [12]:
# 1. Data Preprocessing
# Assuming `df` is your DataFrame containing the data
X = df.drop(columns=['Quantity', 'FlightDateTime', 'HolidayInOrigin', 'HolidayInDestination'])  # Features
X = pd.get_dummies(X)  # One-hot encode categorical variables
y = df['Quantity']  # Target variable

# 2. Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. Model Training
model = LinearRegression()
model.fit(X_train, y_train)

# 4. Model Evaluation
train_preds = model.predict(X_train)
test_preds = model.predict(X_test)

train_mae = mean_absolute_error(y_train, train_preds)
test_mae = mean_absolute_error(y_test, test_preds)

print("Training MAE:", train_mae)
print("Testing MAE:", test_mae)

NameError: name 'train_test_split' is not defined